body {
    background-color: green;
}

button {
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font: black;
    padding: 5px;
    margin: auto;
    display: block;
}

button:hover {
    cursor: pointer;
}

.card {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}